 <div class='row fixed-bottom bg-info'>
   <hr>
   <div class='col col-1'>
     <img class="img-fluid" src="./img/logoCabecera.png" /><!-- id="imgCabecera"  -->
   </div>
   <div class='col col-6 offset-3 mt-4'>
     <div class="copyright">
       &copy; <b>Protectora de Animales S.O.P.P.</b> - - © 2021 - Proyecto Fin de Curso
     </div>
   </div>
 </div>