/*Estilo al Cuerpo para que se muestre correctamente con la cabecera*/
body{
    margin-top: 4%;
    margin-bottom: 4%;
}
/*Estilo para el botón de Cerrar Sesión*/
.cerrar{
    background-color: rgb(245, 86, 23);
    border-radius: 30%;
    text-align:end;
}
.cerrar:hover{
    background-color: rgb(133, 4, 4);
    border-radius: 30%;
    text-align:end;
    font-weight: bolder;
}

/*Estilo para la Imágen de Cabecera*/
#imgCabecera{
    width: 8%;
}
/*Estilo para la Barra de Navegación / Menús*/
.navbar{
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #000 0%, #666666 95%);
    padding: 0.2rem;
}
/*Desplegar Menús al pasar el ratón*/
nav ul li:hover > ul {
    display: block;
    left: 25%;  
    background-color: rgba(50, 106, 238, 0.5);
} 

/*Estilo para botón del Login y Registro*/
#login li{
    min-width: 100px;
    text-align: center;
}

#login a:hover{
    background-color: rgb(7, 77, 55);
    border: 2px solid chartreuse;
    border-radius: 10px;
    font-weight: bolder;
}
#login li:last-child{
    margin-left: 5%;
}


/*Estilo para el Pie de Página: la imágen de fondo, iconos*/
.fixed-bottom{
    background-image: url('../img/cabecera.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}
.opcion:hover{
    background-color: rgb(7, 77, 55);
    border: 2px solid chartreuse;
    border-radius: 10px;
    font-weight: bolder;
}
/*iconos del pie de página*/
svg{
    fill:black;
}
svg:hover{
    background-color: cornsilk;
}

  