{% extends 'base.html.twig' %}

{% block title %}Protectora SOPP{% endblock %}

{% block body %}
<style>
    card-footer a{
        color:black;
    }
    card-footer a:hover{
        background-color:black;
        color:white;
    }
</style>
<!-- Título -->
<div class="row">
    <div class="col d-flex justify-content-center">
        <h1>✅ {{ controller_name }}! ✅</h1>
    </div>
</div>

<!-- Publicidad -->
<div class="row justify-content-center mt-3">
    <div class="col-6  d-flex justify-content-center">
        
        <div class="card bg-primary w-50">
            <div class="card-header">Segunda Oportunidad a Nuestros Peludos</div>
            <div class="card-body">
                <h4>Sobre Nosotros</h4>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Tenetur, maiores!</p> 
                <img src='./img/perroGato.jpg' class='img-fluid'/>              
            </div>
            <card-footer>Gracias por su Colaboración</card-footer>
        </div>
    </div>
    <!-- Imagenes-->
    <div class="col-6 justify-content-center">

         <div class="card bg-primary w-50">
            <div class="card-header">Segunda Oportunidad a Nuestros Peludos</div>
            <div class="card-body">
                <h4>Sobre Nosotros</h4>
                <img src='./img/fotoProtec.jpg' class='img-fluid'/>
                
            </div>
            <card-footer>
                <a href='https://idea.lu/cual-es-la-labor-de-una-protectora-de-animales'>
                    Imágen de Instituto de Estudios aplicados
                </a>
            </card-footer>
        </div>

    </div>
</div>

<!-- CARRUSEL DE IMÁGENES -->
<div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="carousel slide w-50" id="carouselPrueba" data-ride="carousel">
                    <!-- Inidcadores (lista de contenidos) -->
            <ul class="carousel-indicators">
                <li data-target="#carouselPrueba" data-slide-to="0" class="active"></li>
                <li data-target="#carouselPrueba" data-slide-to="1"></li>
                <li data-target="#carouselPrueba" data-slide-to="2"></li>
            </ul>
                    <!-- Slideshow -- lo que se desplaza -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img1.jpg" alt="foto">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img2.jpg" alt="gumbal">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img4.png" alt="fondo">
                </div>
            </div>
                    <!-- OPCIONAL == Controles de Dcha - Izq. -->
            <a href="#carouselPrueba" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#carouselPrueba" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>



{% endblock %}