{% extends 'base.html.twig' %}
{% block title %}Protectora SONP{% endblock %}
{% block body %}
<style>
    /*Estilo para el enlace donde se ha obtenido la imagen*/
    card-footer a {
        color: black;
    }
    card-footer a:hover {
        background-color: black;
        color: white;
    }
    /*Estilo para el fondo de la leyenda del carrusel*/
    .carousel-inner p {
        background-color: black;
    }
    /*Sombra aplicado al contorno de las Card*/
    .sombra{
        box-shadow: -5px -5px 4px orange;
    }
</style>
<!-- Título -->
<div class="row">
    <div class="col d-flex justify-content-center">
        <h1>✅ {{ controller_name }}! ✅</h1>
    </div>
</div>


<!-- CARRUSEL DE IMÁGENES -->
<div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-center">
        <div id="carrouselProtectora" class="carousel slide w-50" data-bs-ride="carousel">
            <ul class="carousel-indicators">
                <li data-bs-target="#carrouselProtectora" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></li>
                <li data-bs-target="#carrouselProtectora" data-bs-slide-to="1" aria-label="Slide 2"></li>
                <li data-bs-target="#carrouselProtectora" data-bs-slide-to="2" aria-label="Slide 3"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/carrusel03.jpg" class="w-100 img" alt="Rescatado"
                        title='https://www.publico.es/sociedad/maltrato-animal-madrid-deja-sacrificar.html'>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Rescatadores</h5>
                        <p>Nuestro Peludos al Principio recien Rescatados.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/carrusel02.jpg" class="w-100" alt="Cuidando Nuestro Peludos"
                        title='https://www.lavozdegalicia.es/noticia/sociedad/2016/07/14/comunidad-madridcondiciona-ley-venta-perros-gatos-tiendas/00031468515285091261914.htm'>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Cuidando Nuestro Peludos</h5>
                        <p>Una Gran Familia preparada para unirse a otra Gran Familia.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/carrusel01.jpg" class="w-100" alt="Miradas"
                        title='https://misanimales.com/adopcion-perros-lo-debes-saber/'>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Las miradas más inocentes</h5>
                        <p>Nacen para dar y recibir calor y cariño.</p>
                    </div>
                </div>
            </div>
            <b class="carousel-control-prev" data-bs-target="#carrouselProtectora" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </b>
            <b class="carousel-control-next" data-bs-target="#carrouselProtectora" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </b>
        </div>
    </div>
</div>

<!-- Publicidad -->
<div class="row d-flex justify-content-center mt-3">
    <div class="col-10 d-flex sombra">
    <!--1º Card-->
        <div class="card bg-primary w-50">
            <div class="card-header">Segunda Oportunidad a Nuestros Peludos</div>
            <div class="card-body">
                <h4>Sobre Nosotros</h4>
                <p>Somos una protectora que acoge todo tipo de Animales, teniendo además contacto
                y relación con otras protectoras y servicios nacionales, a los que brindamos nuestros 
                servicios para facilitar y dar la mejor vida posible a estos animales</p>
                <img src='./img/perroGato.jpg'  class="w-100"/>
            </div>
            <card-footer>Gracias por su Colaboración</card-footer>
        </div>
    <!-- 2ª Card-->
        <div class="card bg-primary w-50">
            <div class="card-header">Segunda Oportunidad a Nuestros Peludos</div>
            <div class="card-body">
                <h4>Emplazamientos</h4>
                <p>La Protectora dispone de diversas instalaciones así como casa de acogida 
                provisionales para brindar las mejores atenciones a nuestros peludos según sus 
                necesidades, desde su rescate hasta su adopción</p>
                <img src='./img/fotoProtec.jpg' class="w-100" />
            </div>
            <card-footer>               
                <a href='https://idea.lu/cual-es-la-labor-de-una-protectora-de-animales' target="_blank">     
                    Imágen de Instituto de Estudios aplicados
                </a>
            </card-footer>
        </div>
    </div>
</div>
{% endblock %}