<form method="post" action="{{ path('animales_delete', {'id': animale.id}) }}" 
onsubmit="return confirm('Seguro que desea Eliminar a {{animale.nombreA}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animale.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
