{% extends 'base.html.twig' %}

{% block title %}Edit Animales{% endblock %}

{% block body %}
    <h1>Editar Datos de: <b>{{animale.nombreA}}</b></h1>

    {{ include('animales/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <button  class="btn btn-outline-warning">
        <a href="{{ path('animales_disponibles') }}">Regresar Listado</a>   
    </button> 

    {{ include('animales/_delete_form.html.twig') }}
{% endblock %}
