{% extends 'base.html.twig' %}

{% block title %}Editar Animales{% endblock %}

{% block body %}
    <h1>Editar Datos de: <b>{{ animale.nombreA }}</b></h1>

    {{ include('animales/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('animales_listado') }}">back to list</a>

    {{ include('animales/_baja.html.twig') }}
{% endblock %}
