{% extends 'base.html.twig' %}

{% block title %}Nuevo Animal{% endblock %}

{% block body %}
    <h1>Nuevo Animal: ALTA</h1>

    {{ include('animales/_form.html.twig') }}
    
    <a href="{{ path('animales_listado') }}">Regresar Listado</a>
{% endblock %}
