{% extends 'base.html.twig' %}

{% block title %}New Animales{% endblock %}

{% block body %}
    <h1>Alta Nuevo Animal</h1>

    {{ include('animales/_form.html.twig') }}

    <button  class="btn btn-outline-warning">
        <a href="{{ path('animales_listado') }}">Regresar Listado</a>   
    </button> 
{% endblock %}
